<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <title>Channel Top Navbar</title>
</head>

<body>
<nav class="navbar bg-body-tertiary px-3 mb-3 static-top shadow">
    <span class="navbar-brand">
        <div class="d-flex m-1">
            <img class="rounded-circle me-2" th:src="${channel.thumbnailUrl}">
            <div class="d-flex flex-column justify-content-center me-4">
                <div class="fw-semibold mb-1" th:text="${channel.channelTitle}">채널명</div>
                <div class="text-secondary" style="font-size: smaller;"
                     th:text="|${channel.customUrl} • 구독자 ${channel.subscriberCount}명 • 동영상 ${channel.videoCount}개|">
                    @custom • 구독자 100만명 • 동영상 100개
                </div>
            </div>
            <div class="d-flex flex-column justify-content-center">
                <a href="#" class="btn btn-secondary btn-icon-split" data-toggle="tooltip" data-placement="top"
                   data-bs-toggle="modal" data-bs-target="#channelDescriptionModal">
                    <span class="icon text-white-50"></span>
                    <span class="text">Description</span>
                </a>
            </div>
        </div>
    </span>

    <!-- Channel Description Modal start -->
    <div class="modal fade" id="channelDescriptionModal" tabindex="-1" aria-labelledby="channelDescriptionModal"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="channelDescriptionModalLabel">정보</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <pre th:text="${channel.channelDescription}">채널 설명</pre>
                </div>
            </div>
        </div>
    </div>
    <!-- Channel Description Modal end -->
</nav>
</body>

</html>
