<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>헤더</title>
</head>
<body>
<header class="border-bottom">
    <div class="p-2 mx-5">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                    aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fa-solid fa-bars"></i>
                </span>
            </button>
            <a href="#" th:href="@{/}"
               class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                <img alt="logo" height="30" width="110" src="/images/logo.png">
            </a>

            <div class="text-end d-flex align-items-center justify-content-between">
                <img src="https://github.com/mdo.png" th:src="${#authentication.principal.profileImageUrl}"
                     alt="profileUrl"
                     width="32" height="32" class="rounded-circle me-2">
                <div class="me-2" th:text="${#authentication.principal.nickname}">
                    hyebeen
                </div>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn">
                        <i class="bi bi-box-arrow-right text-black fs-5"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</header>
</body>
</html>
