<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>왼쪽 사이드바</title>
</head>
<body>
<aside class="d-flex align-self-stretch">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item -->
        <li class="nav-item">
            <a class="nav-link" href="home.html" th:href="@{/}">
                <i class="fa-solid fa-house"></i>
                <span>Home</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item -->
        <li class="nav-item">
            <a class="nav-link" href="#" th:href="@{/folder/new}">
                <i class="fa-solid fa-plus"></i>
                <span>Create</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Folder
        </div>

        <!-- Nav Item -->
        <li class="nav-item" th:each="folder : ${folders}">
            <a class="nav-link" href="#" th:href="@{/folder/{folderId} (folderId=${folder.folderId})}">
                <i class="fas fa-fw fa-folder"></i>
                <span th:text="${folder.folderName}">개발</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
    <!-- End of Sidebar -->
</aside>
<script id="sidebar-js">
    document.addEventListener("DOMContentLoaded", function () {
        var navItems = document.querySelectorAll(".nav-item");

        // 현재 URL과 일치하는 nav-item을 찾아 active 클래스 추가
        var currentUrl = window.location.pathname;

        navItems.forEach(function (navItem) {
            var href = navItem.querySelector("a").getAttribute("href");
            if (currentUrl === href) {
                navItem.classList.add("active");
            }
        });
    });
</script>
</body>
</html>
