<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>왼쪽 사이드바</title>
</head>
<body>
<aside class="d-flex align-self-stretch">
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">CATEGO</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <!-- Sidebar -->

                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <!-- Nav Item -->
                <li class="nav-item">
                    <a class="nav-link" href="home.html" th:href="@{/}">
                        <i class="fa-solid fa-house me-1"></i>
                        <span>Home</span></a>
                </li>

                <!-- Divider -->
                <li>
                    <hr class="dropdown-divider">
                </li>

                <!-- Nav Item -->
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/folder/new}">
                        <i class="fa-solid fa-plus me-1"></i>
                        <span>Create</span>
                    </a>
                </li>

                <!-- Divider -->
                <li>
                    <hr class="dropdown-divider">
                </li>

                <!-- Nav Item -->
                <li class="nav-item dropdown" th:each="folder : ${folders}"
                    th:with="cName=|collapseChannel${folderStat.index}|">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <i class="fas fa-fw fa-folder me-1"></i>
                        <span th:text="${folder.folderName}">개발</span>
                    </a>

                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" th:href="@{/folder/{folderId}/edit (folderId=${folder.folderId})}" class="text-success dropdown-item">
                                <i class="fa-solid fa-pencil"></i> 수정
                            </a>
                        </li>
                        <li>
                            <form th:action="@{/folder/{folderId}/delete (folderId=${folder.folderId})}" method="post">
                                <button class="text-danger dropdown-item">
                                    <i class="fa-solid fa-xmark"></i> 삭제
                                </button>
                            </form>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li th:each="channel : ${folder.channels}">
                            <a class="dropdown-item" href="#"
                               th:href="@{/channel/{channelId} (channelId=${channel.channelId})}"
                               th:text="${channel.channelTitle}">채널1</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- End of Sidebar -->
</aside>
<script id="sidebar-js">
    document.addEventListener("DOMContentLoaded", function () {
        var navItems = document.querySelectorAll(".nav-item");

        // 현재 URL과 일치하는 nav-item을 찾아 active 클래스 추가
        var currentUrl = window.location.pathname;

        navItems.forEach(function (navItem) {
            var href = navItem.querySelector("a").getAttribute("href");
            if (currentUrl === href) {
                navItem.classList.add("active");
            }
        });
    });
</script>
</body>
</html>
