<!DOCTYPE html>
<html lang="en" th:replace="~{layout/layout-file :: layout (~{::title}, ~{}, ~{::#content-wrapper}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>CATEGO</title>
</head>

<body>
<div id="content-wrapper">
    <div id="channel-id" hidden th:text="${channel.channelId}"></div>

    <!-- nav bar -->
    <nav class="navbar bg-body-tertiary px-3 mb-3 static-top shadow">
        <span class="navbar-brand">
            <div class="d-flex m-1">
                <img class="rounded-circle me-2" th:src="${channel.thumbnailUrl}">
                <div class="d-flex flex-column justify-content-center me-4">
                    <div class="fw-semibold mb-1" th:text="${channel.channelTitle}">채널명</div>
                    <div class="text-secondary" style="font-size: smaller;"
                         th:text="|${channel.customUrl} • 구독자 ${channel.subscriberCount}명 • 동영상 ${channel.videoCount}개|">
                        @custom • 구독자 100만명 • 동영상 100개
                    </div>
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <a href="#" class="btn btn-secondary btn-icon-split" data-toggle="tooltip" data-placement="top"
                       data-bs-toggle="modal" data-bs-target="#channelDescriptionModal">
                        <span class="icon text-white-50"></span>
                        <span class="text">Description</span>
                    </a>
                </div>
            </div>
        </span>

        <!-- Channel Description Modal start -->
        <div class="modal fade" id="channelDescriptionModal" tabindex="-1" aria-labelledby="channelDescriptionModal"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="channelDescriptionModalLabel">정보</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <pre th:text="${channel.channelDescription}">채널 설명</pre>
                    </div>
                </div>
            </div>
        </div>
        <!-- Channel Description Modal end -->
    </nav>

    <main class="container d-flex justify-content-center"
          th:insert="~{layout/video-list :: .page-content}"></main>
</div>

<script>
    var pageToken = 0;
    var loading = false;    //중복실행여부 확인 변수

    document.addEventListener('DOMContentLoaded', function () {
        fetchMoreData()
    });

    $(window).scroll(function () {
        if ($(window).scrollTop() + 200 >= $(document).height() - $(window).height()) {
            if (!loading && pageToken != null)    //실행 가능 상태라면?
            {
                loading = true; //실행 불가능 상태로 변경
                fetchMoreData();
            } else            //실행 불가능 상태라면?
            {
                console.log('다음페이지를 로딩중입니다.');
            }
        }
    });

    function fetchMoreData() {
        var channelId = $('#channel-id').text();
        var param = {};
        if (pageToken != 0 && pageToken != null) {
            param.pageToken = pageToken;
        }

        console.log('fetch more data');
        $.ajax({
            url: '/api/channels/' + channelId + '/videos',
            method: 'GET',
            data: param,
            dataType: 'json',
            success: handleData,
            error: function (error) {
                console.error('Error fetching data:', error);
            }
        });
    }

    function handleData(data) {
        // 데이터 처리 로직
        updatePageToken(data.pageToken.nextPageToken);
        appendVideos(data.data);
    }

    function appendVideos(videos) {
        console.log('append videos');
        var colCountInRow = 4;
        var str = '';

        for (var i = 0; i < videos.length; i += colCountInRow) {
            str += '<div class="row mt-2">';

            for (var j = i; j < i + colCountInRow && j < videos.length; j++) {
                str += '<div class="col-12 col-md-6 col-lg-4 col-xl-3">';
                str += '<a href="/watch?videoId=' + videos[j].videoId + '" class="card card-video border-0 bg-transparent mb-4 link-underline link-underline-opacity-0">';
                str += '<img src="' + videos[j].videoThumbnailUrl + '" class="img-fluid rounded">';
                str += '<div class="card-video-details mt-2">';
                str += '<div class="fw-semibold mb-2 video-name">' + videos[j].videoName + '</div>';
                str += '<div class="text-secondary" style="font-size: smaller;">조회수 ' + videos[j].viewCount + '회 • ' + videos[j].publishedAt + '</div>';
                str += '</div></a></div>';
            }

            str += '</div>';
        }

        $('#video-list').append(str);
        loading = false;
    }

    function updatePageToken(nextPageToken) {
        console.log('pageToken=' + nextPageToken);
        pageToken = nextPageToken;
    }
</script>
</body>
</html>
