<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/head :: common_head(~{::title}, (~{::link} ?: ~{}))}">
    <meta charset="UTF-8">
    <title>CATEGO</title>
</head>

<body>
<header th:replace="~{layout/header :: header}">헤더</header>

<div id="wrapper">
    <aside th:replace="~{layout/sidebar :: aside}">왼쪽 사이드 바</aside>
    <div id="folder-id" hidden th:text="${folderId}"></div>
    <main class="container d-flex justify-content-center" th:insert="~{layout/edit-folder :: #edit-folder}"></main>
</div>

<!--/* Scripts */-->
<script th:replace="~{layout/scripts :: script}">/* 공통 스크립트 */</script>

<!--/* 페이지 전용 스크립트 */-->
<script th:replace="~{layout/sidebar :: #sidebar-js}"></script>
<script th:replace="~{layout/edit-folder :: #edit-folder-js}"></script>
</body>
</html>
